/* .australia{
  display: table-column;
} */
.app button{
 
  margin-left: 90px;
}
.india button{
  margin-left: 300px;
} 
.scorecard{
  width: 30%;
  margin-left: 50px;
  position: absolute;
  margin-top: 330px;

}
